@media only screen and (max-width: 992px) {
    .device-group {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .container-row {
        flex-direction: column;
    }
    .col-3 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-9 .col-3 {
        width: 100%;
    }
    .contact-btn {
        width: 100%;
        margin-bottom: 5px;
    }
    .btn.btn-primary.submit-btn {
        width: 100%;
    }
}